.center-button {
    width: 30px;
    height: 30px;
}

.tab-icon {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.tab-label {
    font-size: 12px;
    color: #343333;
}
.tab-name {
    font-size: 12px;
    color: #D4D4D4; 
}
#publish{
   font-size: 46px;
}
.icons{
    font-size: 26px;
}

ion-tab-bar {
    --background: #fff;
}
